@import './mixins.scss';

// variables
$primary-rgb: rgb(64, 20, 245);
$primary-dark: #291384;
$dark-background-color: #121212;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.special-text {
    text-shadow: 0 0 20px rgb(192 219 255 / 75%), 0 0 20px rgb(65 120 255 / 24%);
}

#app-header {
    background-image: none;
    box-shadow: none;
}

.special-button {
    @include hover-effect($primary-rgb);

    &-outlined {
        border-color: $primary-rgb !important;
    }
}

.chart-axis-text {
    fill: white;
}

.theme-body {
    background: linear-gradient(
        to right,
        $dark-background-color,
        $primary-dark
    );
}

.theme-paper {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 26px 42px rgba(0, 0, 0, 0.5);
}

.landing-page-pane {
    background-color: black;
    &--first {
        background-image: none;
    }

    &--second {
        overflow: hidden;
        background-image: url(/logo.png);
        background-size: cover;
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            background: none;
            box-shadow: none;
            backdrop-filter: blur(55px);
        }
    }
}
